body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .topnav {
    overflow: visible;
    background: linear-gradient(to bottom, #c072f4 24%, black 106%);
    position: relative;
    left: 130px;
    display: flex;
    margin-top: -6px;
  }
  .siteLogo{
    height: 8em;
    padding: 0.5em;
    will-change: filter;
    transition: filter 300ms;
    position: absolute;
    top: -25px;
    left: -15px;
  }
  .topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 13px 16px;
    text-decoration: none;
    font-size: 16px;
    border-radius: 7px;
    margin-left: 4px;
  }
  
  .topnav a:hover {
    background-color: #daa2ff;
    color: black;
  }
  
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }
  
  .icon {
    display: none;
  }
  
  @media screen and (max-width: 1000px) {
    .topnav.responsive .loginButton{
      display: block;
      position: relative;
          top: -181px;
          left: 80px;
          font-size: 21px;
          margin-bottom: -13px;
          width: 224px;
    }
    .topnav.responsive {
      position: relative;
      left: 0px;
      top: 306px;
      width: 100%;
      height: 533px;
      border: 1px solid #d55d13;
      border-radius: 3px;
      backdrop-filter: blur(9px);
      background: scroll;
      padding-top: 45px;
    }
    .body{
      overflow-y: visible;
    }
    .Navibar .icon {
      position: absolute;
      right: 37px;
      top: 16px;
    }
    .topnav.responsive a {
      float: none;
      display: grid;
      text-align: left;
      width: 264px;
      align-items: center;
      margin-bottom: 4px;
      margin-left: 83px;
      margin-top: 6px;
    }
    .topnav.responsive .lineDivider{
      display: block;
      position: relative;
      left: 254px;
      top: -177px;
      height: 157px;
    }
    .topnav.responsive .line{
      display: block;
      height: 0px;
      width: 0px;
    }
  
    .topnav a {display: none;}
    a.icon {
      float: right;
      display: block;
    }
    .topnav .loginButton{
      display: none;
    }
    .topnav .line{
      display: none;
    }
  }
  
  @media screen and (max-width: 900px) {
    .topnav.responsive .loginButton{
      display: block;
      position: relative;
      top: -177px;
      left: 50px;
      font-size: 19px;
      margin-bottom: 13px;
      width: 158px;
    }
    .topnav.responsive {
      position: relative;
      left: 0px;
      top: 306px;
      width: 100%;
      height: 533px;
    }
    .Navibar .icon {
      position: absolute;
      right: 37px;
      top: 16px;
    }
    .topnav.responsive a {
      float: none;
      display: grid;
      text-align: left;
      width: 200px;
      align-items: center;
      margin-bottom: 4px;
      margin-left: 25px;
      margin-top: 6px;
    }
    .topnav.responsive .lineDivider{
      display: block;
      position: relative;
      left: 189px;
      top: -177px;
      height: 157px;
    }
    .topnav.responsive .line{
      display: block;
      height: 0px;
      width: 0px;
    }
  
  }
  
  /* ------------------------------- */
  
  .lineDivider{
    border-left: 1px solid black;
    height: 30px;
  }
  
  a.line:hover {
    /* background-color: purple; */
    background: linear-gradient(to bottom, #ba6bef 30%, black 100%);
    
  }
  
  
  .Navibar{
    display: flex;
    width: 500px;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    background: linear-gradient(to bottom, #c772ff 13%, black 106%);
    height: 50px;
    position: sticky;
    top: 0px;
    z-index: 1;
  }
  
  .loginButton{
    background-color: #369096;
    margin-left: 10px;
    font-size: 18px;
    color: white;
    border: none;
  }
  .signupButton{
    background-color: #d55d13;
    width: 108px;
  }
  
  .signupButton1:hover{
    background-color: #d68857;
    color: black;
  }
  
  .loginButton1:hover{
    background-color: #7cbbbf;
    color: black;
  }

  .PagePaths{
    
  }

  .userProfileName{
    display: flex;
    align-items: center;
    width: 111px;
    justify-content: end;
    position: inherit;
    top: -7px;
    cursor: pointer;
  }
  /* -------------------------------------- UserName Dropdown */
  /* Dropdown container */
.dropdown {
  position: absolute;
  top: 100%; /* Position below the username */
  right: -45px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 150px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

/* Dropdown items */
.dropdown a {
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  color: #333;
  font-size: 14px;
  width: 95%;
}

.dropdown a:hover {
  background-color: #f0f0f0;
  color: #000;
}


  