.AppPage {
    margin: 0; /* Reset margins */
    padding: 0; /* Reset padding */
    background-color: #814aa5;
    max-width: 100%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction:column;
}