.MainDiv {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
    max-width: 100%;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    /* overflow-y: scroll; */
}

.UserFields {
    font-family: 'Times New Roman', Times, serif;
    font-size: 32px;
    background-color: black;
    color: white;
    width: 100%;
    background-color: rgb(31, 30, 29);
    margin: 0;
    padding: 0;
    max-width: 100%;
    max-height: 35%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.ActionButtons {
    width: 380px;
    color: black;
    display: flex;
    justify-content: center;
}

.Username{
    display: flex;
    width: 350px;
    justify-content: end;
}

button {
    width: 80px;
    font-size: 14px;
}

/* ----------------------------------------- */
.Games {
    background-color: bisque;
    width: 100%;
    height: 100%;
    background-color: rgb(240, 240, 240);
    margin: 0;
    padding: 0;
    max-width: 100%;
    max-height: 100%;
    color: white;
    display: flex;
    /* overflow-y: scroll; */
    flex-wrap: wrap;
}

/* ----------------------------------------- */
/* User game add form */
.UserForm {
    position: absolute;
    left: 10%;
    top: 0%;
    width: 100%;
    height: 545px;
    overflow-y: scroll;
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.game-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.game-form label {
    font-size: 14px;
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
}

.game-form input[type="text"],
.game-form input[type="file"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    outline: none;
    transition: border-color 0.3s;
}

.game-form input[type="text"]:focus,
.game-form input[type="file"]:focus {
    border-color: #007bff;
}

.submit-button {
    padding: 10px 15px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.submit-button:hover {
    background-color: #0056b3;
}

.submit-button:active {
    background-color: #004494;
}


.gameAddIcon{
    color: white;
    font-size: 40px;
    cursor: pointer;
}
.gameAddIconButton{
    display: flex;
    width: 58px;
    position: relative;
    align-items: center;
    justify-content: center;
    height: 45px;
    background-color: #1f1e1d;
    border: none;
    color: white;
}
.gameAddIconButton:hover{
    background-color: #484747b5;
    color: #2fa92f;
    border: none;
}
