/* Main container for the side nav */
.sideNav {
    /* position: fixed;
    top: 0;
    left: 0; */
    height: 100%;
    width: 100px;
    background-color: #1f1e1d;
    color: white;
    overflow-x: hidden;
    transition: width 0.3s ease; /* Smooth open/close effect */
    /* box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2); */
    position: relative;
    z-index: 1000;
}

.sideNav.expanded {
    width: 280px;   
    background-color: #2d436c;
    color: white;
    position: relative;
    top: -50px;
    height: 632px;
}

.sideNav.collapsed {
    background-color: #1f1e1d;
    width: 33px;
    height: 61px;
    overflow: hidden;
}



/* Header section */

.header {
    display: flex;
    align-items: end;
    justify-content: space-between;
    background-color: #1f1e1d;
    font-size: 14px;
    position: sticky;
    top: 0;
    z-index: 1001;
    height: 48px;
}


.header.collapsed {
    
    /* padding-left: 10px;
    margin-bottom: 30px; */
}

.header.expanded{
    margin-top: 17px;
    margin-left: 10px;
    background-color: #2d436c;
}

/* Hamburger button */
.hamburger {
    background: none;
    border: none;
    color: #ff1035;
    font-size: 18px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* Go button */
.goButton {
    background-color: #007bff;
    border: none;
    color: white;
    font-size: 14px;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.goButton:hover {
    background-color: #0056b3;
}

/* Dropdown section */
.dropdown {
    padding: 10px 15px;
    border-bottom: 1px solid #444;
}

.dropdownButton {
    background: none;
    border: none;
    color: white;
    font-size: 14px;
    width: 100%;
    text-align: left;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dropdownButton:hover {
    color: #ddd;
}

.dropdownValues {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-left: 10px;
}

.checkboxLabel {
    font-size: 14px;
    color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
}

/* Clear button ----------------------------- */
/* Clear All Button */
/* Clear All Icon */
.clearIcon {
    font-size: 18px;
    color: #f44336; /* Red color for delete icon */
    margin-left: 10px; /* Add spacing between Go button and trash icon */
    margin-right: 8px;
    cursor: pointer;
    transition: color 0.3s ease;
}

.clearIcon:hover {
    color: #d32f2f; /* Darker red on hover */
}

/* Tooltip for hover (optional) */
.clearIcon[title]:hover::after {
    content: attr(title);
    position: absolute;
    background-color: #333;
    color: #fff;
    font-size: 12px;
    padding: 5px;
    border-radius: 4px;
    top: -30px;
    left: 0;
    white-space: nowrap;
    z-index: 1000;
    opacity: 0.9;
}
