.card {
    background-color: #ffffff;
    width: 255px;
    height: 400px;
    border-radius: 10px;
    /* overflow: hidden; */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    margin: 20px;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
}


/* Card Image */
.card_Image {
    height: 190px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.card_Image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card_cancel_button {
    position: absolute;
    top: 5px;
    right: 5px;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}

/* Card Content */
.card_value {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.gameNumbers {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    color: #666;
}

.gameNumbers i {
    cursor: pointer;
    margin-right: 5px;
    transition: color 0.3s;
    margin-left: 10px;
}

.gameNumbers i:hover {
    color: #007bff;
}

.gameNameInfo{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    color: black;
    height: 60px;
}

.gameStatusCircle{
    width: 57px;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    left: -10px;
}
.gameNameValues {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    width: 200px;
}

.gameNameInfo h4 {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
}
.gameNameInfo h5{
    font-size: 13px;
    margin-top: -5px;
    cursor: pointer;
}

.gameLikeDislike{
    padding-left: 0px;
}

.gameRatingIcon{
    margin-left: 67px;
    position: relative;
    top: -5px;
    font-size: 24px;
    color: #ff3232;
    font-size: 24px;
    display: inline-block;
    width: 1em; /* Size of the icon */
    height: 2em; /* Size of the icon */
    text-align: center;
    line-height: 1em;
}
.gameRatingIcon h6{
    color: black;
}

.gameDownloadsView{
    margin-left: 0px;
    width: 77px;
}

/* ---------------------------------------- */

.gameStrip {
    background-color: #737373;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    gap: 5px;
    padding: 5px;
}

.genreTag {
    font-size: 12px;
    color: #444;
    background-color: #ddd;
    border-radius: 3px;
    padding: 2px 5px;
}

.icon {
    font-size: 18px;
    margin-right: 5px;
}

/* Popup */
.popup {
    position: absolute;
    left: 0px;
    top: 86px;
    width: 200px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    z-index: 10;
}

.popup h4 {
    font-size: 16px;
    margin-bottom: 5px;
}

.popup p {
    font-size: 14px;
    color: #555;
}

.popupImage {
    width: 100%;
    height: auto;
    margin-top: 10px;
    border-radius: 5px;
}
/* Clear button ----------------------------- */
/* Clear All Button */
/* Clear All Icon */
.gameLikedIcon{
    font-size: 34px;
    color: #f44336; /* Red color for delete icon */
    /* margin-left: 10px; Add spacing between Go button and trash icon */
    cursor: pointer;
    transition: color 0.3s ease;
    display: flex;
    position: absolute;
    top: -3px;
    left: 10px;
    background: rgb(240 240 240);
    color: #ab3838;
    border: none;
    border-radius: 15%;
    width: 18px;
    height: 18px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}
.clearIcon {
    font-size: 18px;
    color: #f44336; /* Red color for delete icon */
    /* margin-left: 10px; Add spacing between Go button and trash icon */
    cursor: pointer;
    transition: color 0.3s ease;
    position: absolute;
    top: 5px;
    right: 5px;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    border: none;
    border-radius: 25%;
    width: 25px;
    height: 25px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}

.clearIcon:hover {
    color: #d32f2f; /* Darker red on hover */
}

/* Tooltip for hover (optional) */
.clearIcon[title]:hover::after {
    content: attr(title);
    position: absolute;
    background-color: #333;
    color: #fff;
    font-size: 12px;
    padding: 5px;
    border-radius: 4px;
    top: -30px;
    left: 0;
    white-space: nowrap;
    z-index: 1000;
    opacity: 0.9;
}

/* -------------------------SemiCircle status ------------------ */

.devSemiCircleOnCard,.publishSemiCircleOnCard{
    /* position: absolute; */
    width: 0px;
    height: 20px;
    border-radius: 50%;
    background-color: #d1d1d1;
    /* left: 10px; */
    transform: translateY(-50%);
    transition: width 0.3s linear, left 0.3s linear, opacity 0.3s linear;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    border-radius: 0 150px 150px 0;
}

.devSemiCircleOnCard{
    top: 239px;
}

.publishSemiCircleOnCard {
    top: 265px;
}

.devSemiCircleOnCard {
    background-color: #f28b82; /* Red for dev */
}

.publishSemiCircleOnCard {
    background-color: #34a853; /* Green for publish */
}
.devSemiCircleOnCard.clicked,
.publishSemiCircleOnCard.clicked {
    width: 38px;
    left: 0px;
    opacity: 1;
}